.intro {
  margin: auto;
  margin-top: 20vh;
  text-align: center;
  width: 65vw;
  font-size: 1.8vmax;
  color: white;
}

a {
  color: #feca57;
  text-decoration: none;
}

a:hover {
  color: #C33D3F;
}

body {
  background-color: #0a1124;
}